body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  height: 100vh;
}

.main-content {
  margin-left: 248px;
  min-height: 100vh;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}
